<h1>Jobs</h1>

<%= link_to "Add a new job", new_job_path %>

<ul>
  <% @jobs.each do |job| %>
  <li>
    <%= link_to "#{job.title}", job_path(job) %>
    <p><%= "#{job.company.name}, #{job.company.location}"%> </p>
    </li>
  <% end %>
</ul>
